<html lang="en">
    <head>
        <title>The elevator project</title>

        <!-- <script type ="text/javascript" src = "static/main.js"> </script> -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" type="text/css" href="../static/style.css" /> 
    </head>
    <body>
        <div class="gen_div">
            <div class="left_side">
                <img src="blocF.jpg" alt="">
            </div>
            
            <div class="right_side">
                <div class="form_pic_wrapper">
                    <div class="right_side_header">
                            <img src="userpic.png" alt="">
                        </div>
                        <div class="form_wrapper">
                            <form class="login_form" action="">
        
                                <input type="text" name="login" id="login" >
                                <br>
                                <input type="password" name="passwd" id="passwd">
                                <br>
                                <input type="submit" value="Logare">
                            </form>
        
                        </div> 

                </div>
                     
                
            </div>

        </div>
        
    </body>
</html>