<html>
<head>
<title>The elevator project</title>
<link rel="stylesheet" type="text/css" href="static/style.css">
<script type ="text/javascript" src = "static/main.js"> </script> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
    
<body>
<div class="header">
    <div class="hbtn bon">1</div>
    <div class="hbtn">2</div>
    <div class="hbtn">3</div>
    <div class="hbtn">4</div>
    <div class="hbtn">5</div>
    <div class="hbtn">6</div>
    <div class="hbtn">7</div>
    <div class="hbtn">8</div>
</div>

<div class="main">
    <div class="menu">
        <div class="btn gray">7</div>
        <div class="btn gray">8</div>
        <div class="btn gray">5</div>
        <div class="btn gray">6</div>
        <div class="btn gray">3</div>
        <div class="btn gray">4</div>
        <div class="btn gray">1</div>
        <div class="btn gray">2</div>
        <div class="btn green">&gt;||&lt;</div>
        <div class="btn gray">&lt;||&gt;</div>
        <div class="btn yellow extramarg">Вызов</div>
        <div class="btn red extramarg">Стоп</div>
    </div>
    
<div class="content">
    <h1>Профиль пользователя</h1>
    <div class="uphoto"><img src="userpic.png"></div>
    
    <div class="ucontrol udelete"><abbr title="Удалить">X</abbr></div>
    <div class="ucontrol uedit"><abbr title="Редактировать">?</abbr></div>

    <div class="udata">
        <p><span class="utitle">ФИО:</span> Самосвалов Игорь Андреевич</p>
        <p><span class="utitle">Телефон:</span> 079 424 242</p>
        <p><span class="utitle">E-mail:</span> samia@mail.ru</p>
    </div>
    
    <h1>История последних взятых ключей</h1>
    <table class="keytable">
    <tr>
        <th>№ Кабинета</th>
        <th>Когда был взят?</th>
        <th>Когда был возвращён?</th>
    </tr>
    <tr>
        <td>503</td>
        <td>Понедельник, 29 января, 10:00</td>
        <td>-</td>
    </tr>
    <tr>
        <td>108</td>
        <td>Пятница, 26 января, 13:00</td>
        <td>Пятница, 26 января, 16:00</td>
    </tr>    
         </table>
    </div>
    
</div>
    
</body>
    
</html>